#card-user{

    display: flex;
    align-items: center;
    justify-content: flex-end;


    > span{
        font: 500 16px 'Poppins' !important;
        flex: 2;
        margin-right: 5px;
        text-decoration: underline;
    }

    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #835afd86;
        flex: 1;
        box-shadow: 0 0 0 .5px #835afd;
    }

}